#gallery-metabox-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

#gallery-metabox-list:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

#gallery-metabox-list li {
	grid-column: 3 span;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
	justify-content: center;
}

#gallery-metabox-list li .image-preview {
    width: 100%;
	height: 260px;
	grid-column: 12 span;
    object-fit: cover;
}
#gallery-metabox-list li .change-image{
	grid-column: 6 span;
	max-width: 80px;
	display: flex;
	justify-content: flex-start;
}
#gallery-metabox-list li small {
	grid-column: 6 span;
	display: flex;
	justify-content: flex-end;
}

.box_change {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
}
.box_change .button {
	grid-column: 6 span;
}

.box_change a {
    display: inline-block;
}